.home_page{
    display: flex;
    flex-direction: column;
}

.white_svg {
    filter:  brightness(0) invert(1);
}

.container .category_top{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .category_top div{
    display: flex;
    flex-direction: row;
}

.container .category_top span{
   color: rgb(4, 30, 66);
   font-family: Jost;
   font-size: 28px;
   font-weight: 400;
   line-height: 40px;
   letter-spacing: 0%;
   text-align: left;
   text-transform: capitalize;
}

.container .category_top a{
    margin-left: 30px;
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: capitalize;
 
    color: rgb(4, 30, 66);
 }
 
 .container .category_top a:hover {
     border-bottom : 2px solid #041e42;
 }

         /* peagination start */

.container .pagionation_box {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .pagionation_box .pagionation_main{
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.pagionation_main img{
    cursor: pointer;
}

.container .pagionation_main .pagionation_dots{
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
}
.container .pagionation_dots .dot{
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container .pagionation_dots .dot.active{
    border: 2px solid #112137;
}

.container .pagionation_dots .dot div{
    width: 4px;
    height: 4px;
    background-color: #112137;
    border-radius: 50%;
}

/* peagination end */
              
.container .hover_border {
    margin-top: 3px;
    width: 32px;
    height: 2px;
        
    background-color: #041e42;
}
.container .next_prev_box{
    width: 25px;

}
.container .next_prev_box img{
    position: absolute;
    top: 50%;
    cursor: pointer;
}




/* product-box */





.container .product_box{
    width: 306px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.container .product_img_box{
   width: 100%;
   height: 280px;
} 
.container .product_img_box .hover_box{

   display: none;
   width: 100%;
   height: 100%;

   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}
.container .hover_box button{
   margin-bottom: 10px;
   width: 260px;
   height: 50px;

   display: flex;
   align-items: center;
   justify-content: center;

   background: #0053f6;
   box-shadow: opx 5px 20px rgba(0, 83, 246, 0.1);
   border-radius: 6px;

   font-family: Jost;
   font-style: normal;
   font-size: 15px;
   font-weight: 500;
   line-height: 22px;
  

   color: #ffffff;
}
.container .product_img_box:hover .hover_box{
   display: flex;
}

.container .product_content_box{
   padding: 5px 22px;
   width: 100%;
   height: auto;   
   box-sizing: border-box;
}

.container .product_content_box .product_title{
   color: rgb(98, 105, 116);
   font-family: Jost;
   font-size: 13px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: left;
   text-transform: uppercase;

}

.container .product_content_box .product_desc{
   margin-top: 7px;
   height: 56px;

   color: rgb(4, 30, 66);
   font-family: Jost;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0%;
   text-align: left;

}

.container .product_content_box .review_box{
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review_box img{
   margin-right: 15px;
}

.container .review_box span{    
   color: rgb(98, 105, 116);
   font-family: Jost;
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: left;
}

.container .product_content_box .price_box{
   margin-top: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.container .price_box strong{
   margin-right: 30px;

   color: rgb(4, 30, 66);
   font-family: Jost;
   font-size: 18px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 0%;
   text-align: left;
}

.container .price_box span{
   color: rgb(98, 105, 116);
   font-family: Jost;
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: left;
   text-decoration-line: line-through;
}


/* HEADER */
.header_frame{
    position: relative;
    margin-top: 47px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}
.header_frame .container{
    flex-direction: row;
}   
.header_frame .container .header_left{
    padding: 15px;
    position: relative;
    width: 875px;
    height: 508px;
    border-radius: 5px;
      
    background-image: url("../images/indexhome/background\ blue.png");
}
.header_frame .header_left .header_content{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
}
.header_frame .header_content div{
    width: 104px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: rgb(245, 195, 75);

    /* 13 / Medium */
    color: rgb(4, 30, 66);
    font-family: Jost;  
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header_frame .header_content span{
    margin-top: 10px;
    width: 428px;

    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;

     
    /* [object Object] */
    color: rgb(255, 255, 255);
}
.header_frame .header_content p{
    margin-top: 10px;

    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #ffffff;
}   

.header_frame .header_content a {
    margin-top: 20px;
    width: 140px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
 
    border-radius: 6px;    
    background: rgb(255, 255, 255);  

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #041e42;
}
.header_frame .header_content img{
    position: absolute;
    right: 10px;
}
.header_frame .container .header_right {
    position: relative;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header_frame .header_right .header_box{
    width: 422px;
    height: 240px;
    display: flex;
    flex-direction: row;

    border-radius: 5px; 
    background: #f2f2f2;
}

.header_frame .header_right .box_left{
    margin-left: 30px;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_frame .box_left span {
    font-family: Jost;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;

    color: #0053f6;
}
.header_frame .box_left p{
    margin: 10px 0px;

    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;

    color: #041e42;
}
.header_frame .box_left a{
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    color: #041e42;
}

.header_frame .header_box .box_right{
    width: 50%;
}

.header_frame .box_right img{
    width: 100%;
    height: 100%;
}
           /* service */
.home_page .service_frame {
    position:relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.service_frame .container{
    flex-direction: row;
}
.service_frame .container .service_box {
    width: 25%;
    height: 86px;

    display: flex;
    flex-direction:row;

    border-bottom: 1px solid rgb(234, 234, 234);
}
.service_frame .service_box img{
    width: 35px;
    height: 35px;
}
.service_frame .service_box .service_content{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.service_frame .service_content span{

color: rgb(4, 30, 66);
font-family: Jost;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
color: rgb(4, 30, 66)
}
.service_frame .service_content p{

color: rgb(98, 105, 116);
font-family: Jost;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

color: rgb(98, 105, 116);
}

/* SHOP category */
.shop_category_frame{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_category_frame .container{
    flex-direction: column;
}


.shop_category_frame .container .category_wrapper {
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame .category_wrapper .category_box{
    width: 142px;
    height: auto;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.shop_category_frame .category_box .category_image_box {
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #eaeaea;
    border-radius: 150px;
}
.shop_category_frame .category_box span{
   margin-top: 15px; 

   font-family: Jost;
   font-size: 16px;
   font-weight: 400;
   line-height: 28px;
   letter-spacing: 0%;
   text-align: center;

   color: rgb(4, 30, 66);
}

/* selling products  */
.selling_product_frame{
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.selling_product_frame .container{
    flex-direction: column;
}

.selling_product_frame .container .product_wrapper{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.selling_product_frame .product_wrapper .product_boxes{
    position: relative;
    width: 1224px;
    height: 452px;

    display: flex;
    flex-direction: row;
}



.home_page .adv_frame {
    margin-top: 90px;
    width: 100%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e5edff;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

    color: #0053f6;
}

        /* SPEC PRODUCT */
    
.home_page .spec_product_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spec_product_frame .container{
    flex-direction: column;
}

.container .spec_product_wrapper{
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.spec_product_wrapper .big_product_box{
    position: relative;
    width: 664px;
    height: 368px;

    display: flex;
    flex-direction: row;

    border-radius: 6px;
    background: rgb(243, 245, 246);

}
.big_product_box .big_product_content{
    margin-top: 189px;
    margin-left: 47px;
    position: relative;
    width: 161px;
    height: 139px;

    display: flex;
    flex-direction: column;
    background: rgb(243, 245, 246);
}

.big_product_content span{
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.big_product_content p{
    margin: 7px 0px;
    color: rgb(4, 30, 66);
    font-family: Jost; 
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.big_product_content a{
   
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}

.big_product_box img{
    
    position: absolute;
    width: 322px;
    height: 309px;
    right: 5%;
    top: 7%;
    
}

.spec_product_wrapper .small_product_wrapper{
    
    margin-left: 30px;
    width: 620px;
    height: 368px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.small_product_wrapper .small_product_box {
    position: relative;
    padding: 30px;
    width: 293px;
    height: 170px;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    background: #f3f5f6;
    border-radius: 6px;
}

.small_product_box:nth-child(even) {
    margin-left: 30px;
}

.small_product_box:nth

.small_product_box .small_product_content {
    display: flex;
    flex-direction: column;
}

.small_product_content strong{

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    
}

.small_product_content span{

    color: rgb(98, 105, 116);
    font-family: Jost;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
   

}
.small_product_box img{
    position: absolute;
    right: 30px;
    top: 40px; 
}

.small_product_box .img34{
    position: absolute;
    right: 30px;
    top: 70px;
}

.home_page .tv_frame {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tv_frame .container{
    flex-direction: column;
}

.container .tv_wrapper{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tv_wrapper .tv_product_boxes{
   width: 1300px;
   height: 452px;
   
   display: flex;
   flex-direction: row;
}

.tv_product_boxes .tv_product_box {
    width: 260px;
    height: 452px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.tv_product_box .product_img {
    width: 100%;
    height: 280px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home_page .event_frame{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 632px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    background-image: url("../images/indexhome/event_frame/Group\ 33.png");
    background-size: cover;

}
.event_frame .container{
    flex-direction: row;
    justify-content: center;

}
.container .event_content_box{
    width: 340px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.event_content_box .event_title{
    color: #ffffff;
    font-family: "Jost";
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    text-transform: capitalize;
}

.event_content_box .timer_wrapper{
    margin: 30px 0;
    display: flex;
    flex-direction: row;

}
.timer_wrapper .timer_box{
    width: 82px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.timer_box  strong{
    
    font-family: "Jost";
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    color: #ffffff;
}

.timer_box span{
    font-family: "Jost";
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    color: #ffffff;
}

.event_content_box a{
    width: 140px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;


    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;

   
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}



.container .event_product_wrapper{
    width: 930px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.event_product_wrapper .event_product_boxes{
    position: relative;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.event_product_boxes .event_product_box{
    margin-right: 8px;
    width: 205px;
    height: 392px;

    display: flex;
    flex-direction: column;
    border-radius: 6px; 
    background-color: #ffffff;
}

.event_product_box .event_product_img{
    width: 100%;
    height: 220px;

    display: flex;
    align-items: center;
    justify-content: center;
}

